$light_blue: #38aef0;
$text_light_gray: #999999;
$text_dark_gray: #434a54;
$side_head_background: #253141;
$side_group_background: #2f3e51;
$messages_background: #fafafa;
$main_form_background: #ddd;
$alert_orange: #F35500;
