.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__member-list {
        display: flex;
        font-size: 12px;
        color: $text_light_gray;
        li + li {
          margin-left: 0.3rem;
        }
      }
    }
    &__edit-btn {
      height: 40px;
      line-height:40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
      position: absolute;
      right: 40px;
    }
    a {
      @include link_color($light_blue);
    }
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: $messages_background;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        margin-bottom: 10px;
        &__talker {
          @include font_basic($text_dark_gray, 16px, bold);
        }
        &__date {
          @include font_basic($text_light_gray, 12px);
          margin-left: 10px;
        }
      }
      &__text {
        @include font_basic($text_dark_gray, 14px);
        margin-bottom: 10px;
      }

    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: $main_form_background;
    form {
      display: flex;
      .input-box {
        position: relative;
        width: 100%;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: $text_dark_gray;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $light_blue;
        color: white;
        cursor: pointer;
      }
    }
  }
}
